/_env
launcher_config.json
build
dist
__pycache__/
*.pyc
*.pyo
*.pyd
.vscode
FFTMinecraftLauncher.spec
versions
launcher_profiles.json
logs
jre
neoforge-21.1.186-installer.jar.log
minecraft_instance
instance
launcher